<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>

<body>

    <h1><%= kindOfDay %> ToDo List</h1>
    <ul>
        <li>buy food</li>
        <li>cook food</li>
        <li>eat food</li>
    </ul>

    <form action="/" method="post">
    <input type="button" value="">
    </form>

</body>

</html>