<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <h1><%= kindOfDay %> ToDo List</h1>
    <ul>

        <% for(let i = 0; i < itemsList.length; i++){ %>
            <li><%= itemsList[i] %></li>
        <% }; %>

    </ul>

    <form action="/" method="post">
        <input type="text" name="newItem" autofocus></input>
        <button type="submit" name="button">Add</button>
    </form>

</body>

</html>